
* {box-sizing: border-box;}
body {
  margin: 0;
  background: radial-gradient(#BFD6E2 1px, transparent 2px);
  background-size: 10px 10px;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  outline: none;
}
.topmenu {
  backface-visibility: hidden;
  position: relative;
  background: rgba(255,255,255,.8);
}
.topmenu:before, .topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  font-family: 'Exo 2', sans-serif;
  display: block;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
  color: #003559;
  text-transform: uppercase;
  transition: color 0.4s ease-in-out;
}
.down:after {
  content: "\f107";
  margin-left: 8px;
  font-family: FontAwesome;
}
.topmenu > li > a:hover {color: #E6855F;}
.submenu {
  background: white;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: 0.6s ease-in-out;
}
.submenu > li {display: block;}
.topmenu li:hover > .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
  display: block;
  color: #7f7f7f;
  font-size: 13px;
  line-height: 36px;
  padding: 0 25px;
  font-family: 'Kurale', serif;
}
.submenu li a:hover {color: #E6855F;}
nav {
    width: 960px;
    margin: 0 auto;
}
nav ul {
    display: table;
    margin: 0 auto;
}
nav li {
    float:left;
}
