body{
	font-family: 'Philosopher', sans-serif;
}
.table-toggler{
	cursor: pointer;
	user-select: none;
	font-size: 20px;
	text-decoration: underline;
	margin: 10px 0px;
	display: inline-block;
}
.group-table{
	margin: 20px;
	border: 1px solid black;
	border-collapse: collapse;
	box-shadow: 0 0 10px 1px;
}
.group-table tr td, .group-table tr th{
	border: 1px solid black;
	padding: 3px 5px;
}
