
    body {
  background: #ccc;
  font: 87.5%/1.5em 'Lato', sans-serif;
  margin: 0;
}
a {
    color: #337ab7;
    text-decoration: none;
}

table {

}
tr.border_bottom td {
  border-bottom:1pt solid black;
}
td {
  padding: 0;
}

.container {
width: 900px;
        margin: 0 auto -230px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: -230px;
    margin-left: auto;
}

.calendar-container {
  position: relative;
  width: 900px;
}

.calendar-container header {
  border-radius: 1em 1em 0 0;
  background: #e66b6b;
  color: #fff;
  padding: 3em 2em;
}

.day {
  font-size: 8em;
  font-weight: 900;
  line-height: 1em;
}

.month {
  font-size: 4em;
  line-height: 1em;
  text-transform: lowercase;
}

.calendar {
  background: #fff;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
  color: #555;
  display: inline-block;
  padding: 2em;
}

.calendar thead {
  color: #e66b6b;
  font-weight: 900;
  text-transform: uppercase;
}

.calendar td {
  text-align: center;
}

.calendar tbody tr:hover {
  background: #FFF0F0;
  color: #000000;
}

.current-day {
  color: #e66b6b;
}

.prev-month,
.next-month {
  color: #cacaca;
}

.ring-left,
.ring-right {
  position: absolute;
  top: 230px;
}

.ring-left {
  left: 2em;
}

.ring-right {
  right: 2em;
}

.ring-left::before, .ring-left::after, .ring-right::before, .ring-right::after {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
    content: "";
    display: inline-block;
    margin: 8px;
    height: 32px;
    width: 8px;
}



.ring-left, .ring-right {
    position: absolute;
    top: 230px;
}
    .ring-right {
    right: 2em;
}
.ring-left {
    left: 2em;
}
