.boton1 {
  background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        border-radius: 0px;
        float: left;
    color: #555555;
    display:block;
        width:50px;
        margin: 10px auto;
    font-size: 14px;
        text-align:center;
    height: 35px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20%;
    padding: 6px 4px;
    vertical-align: middle;
        text-decoration:none;
}

.boton1:hover, a.botton1:focus {
   border-color: rgba(82, 168, 236, 0.8);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
   outline: 0 none;
}