.
*  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**:before, *:after {*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
    background-color: #f1f2f3;
}

table {
    border-collapse: collapse;
    width: 100%;
}

h1 {
    padding-left: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 5px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

.table {
	margin: auto;
    display: table;
    border-collapse: collapse;
	border: 1px solid #000000;
}

.table-row {
    display: table-row;
	border: 1px solid #000000;
    /*width: 100%;*/
}

.table-cell {
	border: 1px solid #000000;
    display: table-cell;
    padding: 4px 12px;
    font-size: 14px;
    /*border: 0;*/
    height: 100%;
    white-space: nowrap;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    color: #18262b;
    background: linear-gradient(to bottom,#fff, #ebf0f5);
    border: 1px solid #c3cacd;
}

.btn-success {
    /*padding: 10px;*/
    color: #fff;
    background: linear-gradient(to bottom,#10b584, #00a474);
    border: 1px solid #3ea678;
    box-shadow: 0px 1px 0px rgba(27,42,48,0.6);
}

.btn-success:hover {
    background: linear-gradient(to bottom,#17c18b, #00aa78);
    border: 1px solid #3ea678;
}

.btn-danger {
    background-color: #fff;
    color: #ca470d
}

.btn-danger a {
    color: #ca470d
}

.btn-danger:hover {
    color: #ca470d;
    background: linear-gradient(to bottom,#fff, #f8efeb);
    border: 1px solid #f1cdbd;
}

.btn-primary {
    color: #0078b8;
    padding-left: 0;
    vertical-align: inherit;
}

.btn-primary:hover {
    background: linear-gradient(to bottom,#fff, #dbedf7);
    border: 1px solid #98cde9;
}

.background form {
    padding: 16px 20px;
}

.form-row {
    display: block;
    padding: 4px 0;
    /*margin-bottom: 10px;*/
    /*text-align: center; */
}

.form-row .label {
    display: inherit;
}

.form-row .control {
    display: inherit;
}

.form-row .control input {
    /*width: 100%;*/
    /* height: 34px; */
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-row .control input:hover {
    border: 1px solid #77bfe6;
    -webkit-box-shadow: 0 0 2px #50c3fe, inset 0 1px 2px rgba(27,42,48,0.2);
    -moz-box-shadow: 0 0 2px #50c3fe, inset 0 1px 2px rgba(27,42,48,0.2);
    box-shadow: 0 0 2px #50c3fe, inset 0 1px 2px rgba(27,42,48,0.2);
}

.submit-row {
    clear: both;
    padding: 10px 0 0 0;
    margin: 0;
}

header {
    background-color: #fff;
    position: fixed;
    letter-spacing: 1px;
    height: 45px;
    width: 100%;
    /*padding: 0 22px;*/
    border-bottom: 1px solid #eaeaea;
    /*background: #2c3e50;*/
}

header .left,
header .right {
    display: inline-block;
    height: 100%;
    padding: 0 10px;
}

header .right {
    float: right;
    position: relative;
}

header .right .user,
header .right .logout {
    display: inline-block;
    line-height: 45px;
    padding: 0 22px;
}

header .right .logout {
    float: right;
    font-size: 14px
}

header .right .user {
    font-size: 16px;
    color: #366;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

header .right .user span {
    display: block;
}

header .left {
    float: left;
}

header .logo img,
header .logo span {
    vertical-align: middle;
}

header .logo img {
    height: 43px;
    width: auto;
}

header .logo span {
    color: #000;
    font-size: 35px;
    text-decoration: none;
    padding-left: 10px;
}

.drop-down {
    cursor: pointer;
}

.drop-menu-main-sub {
    display: none;
    width: auto;
    top: 45px;
    right: 0;
    height: auto;
    /*position: absolute;*/
    background: #FFFFFF;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);*/
    box-shadow: 0 2px 3px 0 rgba(8,9,9,.3);
    z-index: 100;
    /*padding: 5px 0 5px;*/
    margin: auto;
}

.drop-menu-main-sub a {
    /*text-align: center;*/
    color: #555555;
    display: block;
    /*font-size: 11px;*/
    padding: 6px 15px;
    cursor: pointer;
    text-decoration: none;
}

.drop-menu-main-sub a:hover {
    background: rgba(0,0,0,.05);
    /*color: #FFFFFF;*/
    text-decoration: none;
}

 /* sidebar */

.service-menu {
    float: left;
    display: inline-block;
    height: 100%;
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    width: 60px;
    z-index: 2005;
    border-right: 1px solid #eaeaea;
    background-color: #fff;
}

.service-menu-item {
    float: left;
    /*display: inline-block;*/
    height: 60px;
    width: 100%;
    line-height: 60px;
    border-bottom: 1px solid #eaeaea;
    cursor: pointer;
    /*padding: 7px 7px;*/
}
.service-menu-item:hover {
    background-color: #f1f2f3;
}

.service-menu-item-icon {
    width: 60px;
    /*height: 45px;*/
    text-align: center;
    /*line-height: 45px;*/
    display: inline-block;
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*padding-top: 5px;*/
    /*padding-left: 7px;*/
}

.service-menu-item i {
    font-size: 30px;
    vertical-align: middle;
}

.service-menu-item-name {
    display: inline-block;
    /*height: 30px;*/
    /*vertical-align: middle;*/
}

.service-menu-item span{
    display: none;
    color: #000;
    vertical-align: middle;
    font-size: 16px;
    text-decoration: none;
    /*padding-left: 10px;*/
}

  /**/

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    margin: 0 0 12px 60px;
}

.content {
    padding-top: 45px;
    border-radius: 2px;
}

.main {
    margin: 10px;
}

.background {
    background-color: #fff;
    padding: 10px;
}

.control-navbar {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
}

   /* projects */

.projects {
    /*padding-left: 20px;*/
    /*width: 100%;*/
}

.project-title {
    border: none;
    font-weight: bold;
}

.project-item-title {
    padding: 0 20px;
}

/*.project-item-title:first-child {*/
    /*padding-left: 0;*/
/*}*/

.project {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px;
    padding-left: 15px;
    /*border-bottom: none;*/
    /*width: 100%;*/
}

/*.project-table-cell {*/
    /*display: table-cell;*/
    /*padding: 4px 12px;*/
    /*font-size: 14px;*/
    /*!*border: 0;*!*/
    /*height: 100%;*/
/*}*/

.project:first-child {
    border-top: none;
}

/*.project-item:first-child {*/
    /*padding-left: 0;*/
    /*!*border-collapse: inherit;*!*/
/*}*/

.project-item {
    /*border-top: 1px solid #e8e8e8;*/
    /*border-bottom: 1px solid #e8e8e8;*/
    padding: 22px 20px;
}

.project-item:last-child {
    width: 100%;
}

.project-item a {
    color: #23527c;
}
.project-item a:hover,
.project-item a:focus {
    color: #23527c;
    text-decoration: underline;
}

   /* Channels */

.channel-type {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.channel-type:last-child {
    /*border-bottom: none;*/
}

.channel-title-conainer {
    line-height: 57px;
}

.channel-icon-container {
    width: 50px;
    height: 100%;
    display: table-cell;
    text-align: center;
    font-size: 8px;
}

.channel-icon-container img {
    vertical-align: middle;
    width: auto;
    height: 20px;
}

.channel-type-title {
    vertical-align: middle;
    display: table-cell;
}
.channel-add {
    padding: 0 40px;
    vertical-align: middle;
    display: table-cell;
}

.channels {
    margin-left: 50px;
}

.channel {
    /*border-bottom: 1px solid #e8e8e8;*/
    /*border-top: 1px solid #e8e8e8;*/
    padding: 10px;
    padding-left: 15px;
    /*width: 100%;*/
    /*border-bottom: none;*/
}

/*.channel:last-child {*/
    /*width: 100%;*/
/*}*/

.channel-title {
    border: none;
    font-weight: bold;
}

.channel-item {

}

.channel-item:last-child {
    width: 100%;
}

.channel-item:first-child {
    padding: 1px;
    margin-left: -4px;
}

.channel-item:last-child {
    /*width: 100%;*/
}

.future-channel {
    background-color: #e3e6e8;
    margin-left: -10px;
    padding-left: 10px;
    margin-right: -10px;
    padding-right: 10px;
    color: #8f989c;
    padding-bottom: 0;
}

   /* Настройки канала */
.channel-settings-title {
    display: inline-block;
}

.channel-settings-title h1 {
    display: inherit;
}

#channel-more-setting {
    display: inherit;
    margin: 5px 0;
}

.channel-panel {
    padding: 20px;
}

.channel-panel-body {
    padding: 0px 20px;
    background-color: #f1f2f3;
}

.channel-panel-column {
    width: 25%;
    display: inline-block;
}

.channel-settings {
    overflow: hidden;
    height: 0px;
    /*border-bottom: 1px solid #000;*/
    /*border-top: 1px solid #000;*/

}

.campaigns {
    /*margin: 16px 20px;*/
    /*padding: 16px 20px;*/
    /*border-collapse: initial;*/
}

.campaign-title {
    font-weight: bold;
}

.campaign {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    line-height: 18px;
}

.campaign div:last-child {
    width: 100%;
}

.center {
    text-align: center;
}

.center input {
     width: 38px;
     height: 18px;
}

   /* футер */

.footer {
    text-align: center;
    bottom: 0;
    background-color: #fff;
    margin: 10px;
    margin-left: 70px;
}

.footer div {
}

/* Логин */

.login {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.login #header img {
    width: auto;
    height: 80px;
    padding: 15px 0 0 0;
}

.login #header .name {
    margin: 0;
    font-size: 32px;
}

.login #container {
    text-align: center;
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    width: 331px;
    min-width: 331px;
    margin: auto auto;
    padding: 40px 0;
}

.login #content {
    padding: 0 20px 0;
}


.login #content-main {
    width: 100%;
}

.login .form-row {
     padding: 4px 0;
     float: left;
     width: 100%;
     border-bottom: none;
}

.login .submit-row {
    clear: both;
    padding: 10px 0 0 0;
    margin: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

#modal_form {
	/*width: 300px;*/
	/*height: 300px; !* Рaзмеры дoлжны быть фиксирoвaны *!*/
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 2007; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#modal_form .modal-content {

}

#modal_form .modal-content h1 {
    padding: 0px;
    text-align: center;
    margin-top: 0px;
}

#modal_form .modal-content .submit-row {
    text-align: right;
}

/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#modal_close {
    color: #8f989c;
}

#modal_close:hover {
    color: #000000;
}
/* Пoдлoжкa */
#overlay {
	z-index:2006; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
