BODY {
  background: #EEE;
  padding: 30px;
}
DIV {
  height: 200px;
  width: 1200px;
  margin-left: 100px;
  background: crimson;
  box-shadow: 0 -150px 70px -120px #B22222 inset,
              0 -220px 70px -120px #CD5C5C inset,
              0 -280px 70px -120px #A52A2A inset;
 
  
  animation: background 4s infinite alternate;
}

@keyframes background {
  50% {
    background: #B22222;
    box-shadow: 0 -140px 70px -120px #800000 inset,
                0 -210px 70px -120px #B22222 inset,
                0 -280px 70px -120px #CD5C5C inset;
  }
}
#text{
font-size: 50px;
font-family: 'Amatic SC', cursive;
font-family: 'PT Sans Narrow', sans-serif;;
 text-align: center;
text-shadow: 0 0 80px white,0 0 30px white,0 0 6px white;
  color: #FFDAB9;
}
#text:hover{
font-size: 60px;

}
#title{
  font-size: 40px;
font-family: 'Amatic SC', cursive;
font-family: 'PT Sans Narrow', sans-serif;
color: #504C4C;
}
#p{
  margin-left: 100px;
  margin-right: 150px;
    font-size: 20px;
font-family: 'Amatic SC', cursive;
font-family: 'PT Sans Narrow', sans-serif;
color: #504C4C;
}

