
.topOfPage, q, h1, h2, h3, .headerTitle, .headerLinks, .headerLinks *, .sideBox div, #footer *
{ color: #a0a0ff; }

q, h2,  #header, .sideBox, .sideBox div, #footer
{ border-color: #c0c0ff; }

#header, .sideBox div, .sideBox a:hover
{ background-color: #f0f0ff; }

q, .sideBox a, .sideBox span, #footer
{ background-color: #fcfcff; }

.L {
  margin-left: 2.5mm;
  float: left;
  clear: left;
}

.R {
  margin-right: 2.5mm;
  float: right;
  clear: right;
}

#bodyText {
  line-height: 1.5em;
  margin: 10mm 13em 0 13em;
  padding: 0 1em 1ex 1em;
}

#bodyText p {
  padding-bottom: 2ex;
}

.topOfPage {
  font-size: 90%;
  font-weight: bold;
  font-variant: small-caps;
  text-decoration: none;
  padding-left: 1ex;
  padding-right: 1ex;
  float: right;
}

.smallCaps {
  font-variant: small-caps;
}

body {
  background-color: white;
  color: black;
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  font-size: 95%;
  margin: 0;
}

h1, h2, h3 {
  font-family: "trebuchet ms", tahoma, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 150%;
  border-bottom: 1px solid;
  padding-bottom: 0.5ex;
}

acronym {
  background-color: inherit;
  color: teal;
  border-bottom: 1px dashed teal;
  cursor: help;
}

code {
  font-family: "lucida console", monospace;
  font-size: 90%;
}

img {
  border: 0;
}

q {
  font-family: tahoma, verdana, helvetica, arial, sans-serif;
  font-weight: bold;
  border: 2px dotted;
  margin: 0 1em 1ex 1em;
  padding: 0.5ex 0.5ex 0.5ex 1ex;
  width: 9em;
  float: left;
}


/* ###### Header ###### */

#header {
  border-bottom: 2px solid;
  height: 5em;
  margin-bottom: 5mm;
  padding: 1em 2.5mm 0 5mm;
}

.headerTitle {
  font-size: 300%;
}

.headerLinks {
  text-align: right;
}

.headerLinks * {
  text-decoration: none;
  font-weight: bold;
  padding-right: 1ex;
}

.headerLinks a:hover {
  text-decoration: underline;
}


/* ###### блоки по бокам ###### */

.sideBox {
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 10em;
  margin-top: 5mm;
}

.sideBox div {
  font-weight: bold;
  border-bottom: 1px dashed;
  padding: 0.5ex 0.5em 0.5ex 0.75em;
}

.sideBox a, .sideBox a:hover, .sideBox span {
  color: black;
  text-decoration: none;
  line-height: 1.25em;
  display: block;
  padding: 1ex 0.5em 1ex 0.75em;
}


/* ###### футер ###### */

#footer {
  color: inherit;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-top: 0.75ex;
  padding-bottom: 0.75ex;
  clear: left;
}

#footer * {
  background-color: inherit;
  font-size: 92%;
}

